<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
        
            color:blue;
            text-align: center;
            font-size: 50px;
            font-style: italic;
        }
body{
    background-image: url("https://media.istockphoto.com/id/1148091793/photo/technology-abstract.jpg?s=1024x1024&w=is&k=20&c=Q-tH-8QI959LcamRa50iCKV9UHcoBcZwh0bEPkeEzNE=");
    background-size: cover;
}
label{
    color:red;
    font-size: 25px;
    font-style: italic;
}

    </style>
</head>
<body>
    <form method="POST" action="">
    <label for="">username</label>
    <input name="username" type="text">
    <label for="">Mobile</label>
    <input name="mobile" type="text">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Address</label>
    <input  name="address" type="text">
    <label for="">password</label>
    <input name="password" type="text">
    <button class="btn btn-danger">submit</button>
    </form>

</body>
</html>